/*Menu de Navegação*/
        nav{
            background-color:rgb(241, 164, 219);
        }
        nav ul{
            list-style: none; /*Remove os marcadoresda lista*/
            margin: 0;/*Remove margens padrões*/
            padding: 0; /*Remove espaçamento interno padrão*/
            display: flex; /*Coloca os itens da lista em linha horizontal*/
            justify-content: center; /*Centraliza o menu*/
        }
        nav ul li{
            margin: 0 15px; /*Espaço Horizontal entre os itens*/
        }
        nav ul li a{
            color:aliceblue;
            text-decoration: none;
            font-weight: bold;/*Deixa o texto em negrito*/
            padding: 10px;
            display: block; /*Faz o link ocupar a area de click inteiro*/
        }
        nav ul li a:hover{
            background-color: rgb(235, 101, 173);
            border-radius: 5px; /*Arrendonda os cantos do fundo*/
        }
        /*Container principal*/
        .container{
            max-width: 100%; /*Define a largura máxima do conteúdo*/
            margin: auto; /*Centraliza o conteúdo na tela*/
            padding:20px; /*Espaço interno*/
        }
        .conteudo{
            margin-bottom: 40px; /*Espaço inferior entre seções*/
        }
        h2{
            color:rgb(188, 2, 126)
        }
          p{
            font-size: 1.1em; /*Fonte um pouco maior que o padrão*/
            line-height: 1.5; /*Espaçamento entre linhas para facilitar leitura*/
        }
        .estilo img{
            max-width: 700px;
            display:block;
            margin:20px auto;
        }
        a{
            color:rgb(164, 11, 123); /*Cor rosa*/
            text-decoration: none; /*Remove sublinhado padrão*/
        }
        a:hover{
            text-decoration: underline; /*Sublinhado aparece*/
        }
        footer{
            background-color:rgb(235, 101, 173);
            color:aliceblue;
            padding: 15px;
            text-align:center;
        }
        header{
    display: flex;
    align-items: center; /* centraliza verticalmente */
    padding: 10px 40px;
    background-color: rgb(241, 164, 219); /* mesma cor do nav */
    }

        header img{
            width: 100 px;/*Largura do logo*/
            height: 100px;/*Altura do logo*/
        }
   